@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/*Sections*/
section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

.icon {
  cursor: pointer;
  height: 2rem;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}
.section__pic-container img {
  border-radius: 10%;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 40px;
  margin-left: 10px;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/*About section*/
#about {
  padding: 80px 0;
  color: rgb(85, 85, 85);
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 80px;
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
  margin-top: -50px;
  font-family: "Poppins", sans-serif;
}

.about-col-2 h1 {
  font-size: 60px;
  font-weight: 600;
  color: black;
  font-family: "popp";
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 500;
  position: relative;
}
.tab-links:hover {
  color: black;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #ff004f;
  position: absolute;
  left: 0;
  top: 23px;
  border: -8px;
  transition: 0.5s;
  border-radius: 20px;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style-type: none;
  margin: 10px 0 0 -4px;
}

.tab-contents ul li span {
  color: #ff004f;
  font-size: 14px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/*Skills section*/
#skills {
  position: relative;
}

.skills-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 5rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 70px;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: space-around;
}
article {
  display: flex;
  margin-top: 40px;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}
article .icon {
  cursor: default;
}

.vertical-line {
  background-color: black;
  width: 4.8px;
  height: 453px;
  margin-top: 2vh;
  margin-left: 48vh;
  position: absolute;
}

.details-container-2 {
  display: grid;
  justify-content: center;
  flex-direction: column;
  margin-top: -53vh;
  margin-left: 55vh;
}

.article-container-2 {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: space-around;
}

.details-container-2 .icon2 {
  margin-left: -43px;
}

.details-container-2 .detail-main {
  margin-left: -83px;
}
.details-container-2 .icon4 {
  margin-left: -56px;
}

.details-container-2 .detail-main-2 {
  margin-left: -15vh;
}

.vertical-line-2 {
  background-color: black;
  width: 5px;
  height: 448px;
  margin-top: 2vh;
  margin-left: 115vh;
  position: absolute;
}
.details-container-3 {
  display: grid;
  justify-content: center;
  flex-direction: column;
  margin-top: -53vh;
  margin-left: 64vh;
  position: relative;
}

.article-container-3 .icon5 {
  gap: 2.5rem;
  margin-top: -113px;

}
.article-container-3 .detail-main-3 {
  margin-top: -113px;
}
.article-container-3 .icon6 {
  gap: 2.5rem;
  margin-top: -18px;

}

.article-container-3 .icon6 {
  gap: 2.5rem;
  margin-top: -36px;

}
.article-container-3 .detail-main-4 {
  gap: 2.5rem;
  margin-top: -36px;

}

/*Project cards*/

#projects {
  position: relative;
}

#projects-cards {
	width: 350px;
	height: 449px;
	border: 2px solid white;
	border-radius: 13px;
	overflow: hidden;
	margin-top: 60px;
	margin-left: -40px;	
}

#projects-cards #project-img {
	margin-left: -10px;
	margin-top: -50px;
	border-radius: 0px;
	height: 115%;
	width: 105%;
	object-fit: cover;
	position: inherit;
	transition: transform 0.3s ease-in-out;

}

#overlay-div {
	height: 107%;
	width: 107%;
	margin-left: -20px;
	margin-top: 0px;
	overflow: hidden;
	position: relative;
	transition:  margin-top 0.3s ease-in-out;
	
}
#overlay-div h2 {
  color: white;
  margin-left: 110px;
  margin-top: 70px;
  transition: all 0.4s ease;
}

#projects-cards:hover img {
	transform: scale(1.1);
  filter: blur(2px);
  transition: all 0.4s ease-in-out;
}
#projects-cards:hover #overlay-div {
	margin-top: -480px;
  background-color: transparent;
}

.btn-2-container {
  margin-top: 270px;
  margin-left: 10px;
}
.project-btn {
  font-weight: 600;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  border: none;
  transition: all 300ms ease;
}
.project-btn:hover {
  transition: all 300ms ease;
  cursor: pointer;
  border-radius: 10px;
}

.pr-cr-2 {
  margin-left: 460px;
  margin-top: -510px;
  
}
#overlay-div .main-head-1 {
  margin-left: 130px;
}
.pr-cr-3 {
  margin-left: 910px;
  margin-top: -510px;
}
#overlay-div .main-head-2 {
  margin-left: 130px;
}

/*contact section*/
#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}